*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html{
    background-color: rgb(60, 66, 78);
    color:rgb(231, 242, 252);
}

header{
    position: relative;
    z-index: 1;
}

header div{
    position: inherit;
    display: flex;
    background-color: rgb(74, 74, 156);
    margin: -8px -8px;
    padding: 5px;
    border-bottom: solid rgb(255, 115, 0) 2px;
    justify-content: space-between;
    align-items: center;
}

header a{
    color:rgb(231, 242, 252);
    display: flex;
}

main div{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 75vw;
    margin: auto;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(245, 239, 232);
    padding-bottom: 5px;
    border-radius: 5px;
    color: black;
}

main div h2{
    font-size:40px;
}

a div{
    background-color:rgb(255, 115, 0);
    margin:5px;
    padding: 10px;
    width: fit-content;
    color:black;
}

#title-timer{
    display: flex;
    flex-direction: row;
    gap: 170px;
    margin:auto;
}

#questionBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    margin-top:auto;
}

a:link, a:visited{
    text-decoration: none;
}